@import "tailwindcss";
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

:root{
  /* for default */
  --primary-color: rgb(0,0,0);  /*  the default text color  */
  --primary-bg: rgb(255,255,255);  /* the default bg color */

  /* for btn (mainly) */
  --secondary-color: rgb(255,255,255);  /* the default text color in a btn */
  --secondary-bg: rgb(0,0,0); /* the default bg color in a btn */

  /* for hover or hightlighted Colors */
  --tertiary-color:rgb(128, 128, 128);  /* the hover text color */
  --tertiary-bg: rgb(128,128,128);  /* the hover bg color in a btn*/
  
}

.primary-color{color:var(--primary-color)}
.primary-bg{background:var(--primary-bg)}
.secondary-color{color:var(--secondary-color)}
.secondary-bg{background: var(--secondary-bg); border:1px solid var(--tertiary-bg)}
.tertiary-color{color:var(--tertiary-color)}
.tertiary-bg{background: var(--tertiary-bg)}
.tertary-bg-border{border:1px solid var(--tertiary-bg)}

*{
  /* color:var(--primary-color); */
  box-sizing: border-box;
}

.header-nav{
  @apply md:top-12 top-0 left-0 w-screen md:w-55 h-auto md:h-screen p-5 hidden absolute  z-20 transition ease-in-out duration-700 translate-x-80 pt-16 xl:pt-5 md:shadow-xl; 
  background-color: var(--primary-bg) ;
}

.header-nav.open{
  @apply absolute block translate-x-0;
}

.nav-links{
  @apply flex flex-col xl:gap-5 gap-2;
}

.nav-links > li > a{
  @apply  text-center px-5 py-2  transition ease-in-out duration-300  rounded  font-semibold block relative;
}

.nav-links > li > a:hover,.nav-links > li > a.active{
  @apply shadow-xl;
  background-color: var(--tertiary-bg);
  color:var(--secondary-color);
}

.nav-links > li > a > .icon{
  @apply w-6 absolute top-2 ;
}

main{
  @apply w-full xl:mt-12 h-auto mt-25;
  background-color: var(--primary-bg);
  color:var(--primary-color);
}

.admin-main{
  @apply w-full mt-0 mb-20 xl:mb-0;
}

.main-auth{
  @apply w-full h-full  mt-0  py-6 sm:p-32  flex  justify-center content-center xl:gap-2 ;
}

.auth{
  @apply w-full md:w-128;
}

.auth span{
  @apply hidden relative ;
}

.auth span.active{
  @apply w-full h-auto md:h-full flex overflow-hidden rounded-2xl z-10;
}



.auth span.active .bg-content{
  @apply absolute  h-full  w-1/3 bg-gray-500/10 rounded-2xl shadow-2xl blur-sm ;
}

.auth span.active .content{
  @apply relative p-5 flex  flex-col justify-center content-center;
}

.auth span.active .content a{
  @apply hover:underline  block h-6 text-blue-500 ;
}

.auth span.active .content p{
  @apply text-2xl italic ;
}

.auth form{
  @apply w-full h-0 p-5 rounded-2xl flex  flex-col justify-center content-center shadow-2xl invisible transition duration-300 overflow-hidden opacity-0 relative;
}

.auth form.active{
  @apply visible h-full opacity-100 z-30 ;
}

.auth h1{
  @apply font-bold text-4xl py-2;
}

.auth form div{
  @apply flex flex-col py-2;  
}


.p-msg{
  @apply text-red-500;
}

.pp-msg{
  @apply  text-blue-700;
}
.auth form div.btn button{
  @apply p-2;
}

.auth form  div > label{
  @apply py-2 font-bold text-2xl;
}

.auth form div > input{
  @apply p-2 border-solid border-gray-500 border focus:outline-0 rounded;
}

.main-section{
  @apply md:min-h-200 min-h-auto;
}

.main-section > .movie-cat-section{
  @apply w-full relative left-0 h-auto  p-5 ;
}

.main-section.open > .movie-cat-section{
  @apply lg:w-10/12 lg:left-60;
}


.movie-cat-section > h1{
  @apply text-3xl font-bold;
  /* color:var(--tertiary-color); */
}

.movie-cat{
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8 2xl:grid-cols-9 grid-rows-1  w-full  xl:gap-5 gap-2  py-5 ;
}


.main-section.open .movie-cat > div{
  @apply lg:w-32;
}

.movie-cat > div{
  @apply flex flex-col  text-center lg:w-40  w-35 h-auto cursor-pointer;
}

.movie-cat > .no_results{
  @apply font-bold cursor-pointer xl:text-nowrap py-3 rounded text-red-500 ;
}

.LinkHolder{
  @apply w-full h-full flex flex-col;
}

.LinkHolder > span {
  @apply overflow-hidden rounded h-50 w-full;
}

.LinkHolder > span > img{
  @apply w-full h-full rounded self-center overflow-hidden object-cover transition ease-in-out duration-300 hover:scale-105 hover:rounded;
}

.LinkHolder > p{
  @apply text-sm font-bold ;
}

.movie{
  @apply w-full h-auto xl:p-10 flex justify-center;
}

.movie-content{
  @apply w-full m-2 xl:w-auto h-full rounded xl:shadow-2xl flex gap-2 xl:gap-5 xl:p-10  flex-col lg:flex-row justify-between content-center ;  
}

.movie-trailer{
  @apply lg:shadow-md w-full lg:w-180 h-auto lg:p-5;
}

.movie-trailer > iframe, .movie-trailer > video{
  @apply w-full xl:h-100 md:h-100 h-60 ;
}

.movie-info{
  @apply xl:shadow-md xl:p-5 xl:gap-5 flex flex-col h-auto ;
}

.movie-info-img{
  @apply w-40 h-60 rounded overflow-hidden ;
}


.movie-info-img img{
  @apply w-full h-full rounded transition ease-in-out duration-300 hover:scale-105;
}

.movie-info-txt{
  @apply flex flex-col  xl:h-auto  xl:p-5;
}



.serie{
  @apply w-full h-auto xl:p-10 flex justify-center;
}

.serie-content{
  @apply w-full m-2 xl:w-auto h-full rounded xl:shadow-2xl flex gap-2 xl:gap-5 xl:p-10  flex-col lg:flex-row justify-between content-center ;  
}

.serie-trailer{
  @apply lg:shadow-md w-full lg:w-180 h-auto lg:p-5;
}

.serie-trailer > iframe,  .serie-trailer > video{
  @apply w-full xl:h-100 md:h-100 h-60;
}

.serie-info{
  @apply xl:shadow-md xl:p-5 xl:gap-5 flex flex-col h-auto ;
}


.serie-info-dir{
  @apply flex gap-2 flex-col sm:flex-row; 
}

.serie-info-img{
  @apply w-50 sm:w-40 h-60 rounded overflow-hidden;
}


.serie-info-img img{
  @apply w-full h-full rounded transition ease-in-out duration-300 hover:scale-105;
}

.serie-info-nav{
  @apply w-auto h-auto p-2;
}

.serie-info-txt{
  @apply flex flex-col  xl:h-auto  xl:p-5;
}

.btn button{
  @apply transition ease-in-out duration-300  rounded cursor-pointer;
  color:var(--secondary-color); 
  background: var(--secondary-bg);
}

.btn button a{
  @apply p-2;
  color:var(--secondary-color); 
}

.btn > button:hover{
  background-color: var(--tertiary-bg);
}

.btn > button.current{
  background-color: var(--tertiary-bg);
}

footer:hover{
  color:var(--tertiary-color);
  text-decoration: underline;
}


.dashboard{
  @apply fixed xl:top-0 bottom-0 left-0 w-full xl:w-60 h-15 xl:h-screen p-5 hidden  z-20 transition ease-in-out duration-700 translate-x-80 pt-2 xl:pt-5 border-t-1 border-gray-200 xl:border-0 md:shadow-xl bg-gray-100; 
  /* background-color: var(--primary-bg) ; */
  color:var(--primary-color);
}

.dashboard.open{
  @apply fixed block translate-x-0;
}

.db-links{
  @apply flex flex-row xl:flex-col xl:gap-5 gap-2 justify-center content-center;

}

.db-links li{
  @apply relative xl:static;
}

.db-links li  a, .db-links li  button{
  @apply  px-5 py-3  flex text-center transition ease-in-out duration-300 rounded  font-light xl:font-semibold relative xl:w-full cursor-pointer w-5 justify-center xl:justify-normal;
  color:var(--primary-color);
}

.db-links  li  a  span, .db-links  li  button  span{
  @apply absolute top-2 left-0 xl:left-12  xl:block hidden;
}

.db-links li a span.arrow{
  @apply left-25 transition ease-in-out duration-300;
}

.db-links li a span.arrow.open{
  @apply rotate-180;
}

.db-links  li > ul{
  @apply absolute xl:relative shadow-xl rounded-lg overflow-hidden invisible left-0 border-gray-500 border transition duration-300 ease-in-out h-0 xl:-translate-y-10 translate-y-0 bg-white; 
}


.db-links li > ul.open{
  @apply h-auto visible xl:translate-y-0 -translate-y-40 left-0;
}

.db-links li > ul.open li a{
  @apply w-40 xl:w-full;
}

.db-links  li  a:hover, .db-links  li  button:hover, .db-links li a.active{
  @apply shadow-xl;
  background-color: var(--tertiary-bg);
  color:var(--secondary-color);
}


.admin-content{
  @apply  rounded-xl relative w-full left-0 xl:left-60 xl:w-10/12 p-5  xl:block;
}

.admin-content form  h1{
  @apply font-bold text-3xl;
}

.input-section{
  @apply flex flex-col md:flex-row py-5 flex-wrap justify-between gap-2;
}

.input-section div{
  @apply flex flex-col text-lg py-5 w-full md:w-4/12 xl:w-3/12;
}

.input-section div > input, .input-section div > select{
  @apply p-2 border-solid border-gray-500 border focus:outline-0 focus:shadow-lg rounded;
}


.input-section div > textarea{
  @apply p-2 w-full h-20 border border-solid border-gray-500 focus:outline-none focus:shadow-lg rounded;
}

.input-section div > input[type="button"]{
  @apply transition ease-in-out duration-300 p-2 rounded cursor-pointer;
  color:var(--secondary-color); 
  background: var(--secondary-bg); 
}


.input-section div > input[type="button"].saved{
  @apply text-cyan-300;
}

.input-section div > input[type="button"]:hover{
  background-color: var(--tertiary-bg);
}

.admin-content form .btn button{
  @apply p-2;
}

.admin-content form .reverse-btn{
  @apply flex justify-end gap-2 py-2;
}

.admin-content form .reverse-btn input[type="button"]{
  @apply transition ease-in-out duration-300 p-2 text-wrap rounded cursor-pointer;
  color:var(--secondary-color); 
  background: var(--secondary-bg);
}


.admin-content form .reverse-btn span{
  @apply flex justify-center content-center p-2;
}

.admin-content form .reverse-btn input[type="button"]:hover{
  background-color: var(--tertiary-bg);
}


.popup{
  @apply w-full h-screen fixed top-0  flex justify-center content-center z-30 transition duration-300 ease-in-out;
  background-color: rgba(0,0,0,0.7);
}

.popup-box{
  @apply w-120 h-64 bg-white shadow-2xl p-5 flex flex-col content-center justify-center text-center rounded-2xl m-50;
  animation: move-popup-disp .3s ease-in-out;
}

.popup-box .btn button{
  @apply p-2 w-32;
}


.video-popup-box{
  @apply w-full md:w-120 h-120 bg-white shadow-2xl p-2 md:p-5  fixed xl:static bottom-0 sm:m-20 flex flex-col content-center justify-center text-center rounded-2xl overflow-hidden;
  
}

.video-popup-box h1{
  @apply font-bold text-2xl;
}

.video-popup-box .btn button{
  @apply p-2 w-32;
}

.video-quality-input,.video-link-input{
  @apply hidden transition ease-in-out duration-500 overflow-auto;
}

.video-quality-input.active, .video-link-input.active{
  @apply flex flex-col  w-full h-full justify-between;
  animation: move-vid-disp .5s ease-in-out;
}

.video-quality-input > div{
  @apply py-5 flex gap-2 justify-center;
}

.video-quality-input input[type="checkbox"]{
  @apply w-5; 
}

.video-quality-input input[type="button"]{
  @apply transition ease-in-out duration-300 p-2 rounded cursor-pointer max-w-100 whitespace-normal;
  color:var(--secondary-color); 
  background: var(--secondary-bg);
}

.video-quality-input input[type="button"]:hover{
  background-color: var(--tertiary-bg);
}


.video-quality-input label{
  @apply text-xl;
}

.video-link-input > div{
  @apply p-2 ;
}

.video-link-input > div >  label{
  @apply text-lg italic py-2;
}

.video-link-input > div > span{
  @apply flex justify-around py-2;
}



.video-link-input input[type="url"],.video-link-input input[type="file"]{
  @apply p-2 border-solid border-gray-500 border focus:outline-0 focus:shadow-lg rounded w-full;
}

.video-link-input input[type="button"]{
  @apply transition ease-in-out duration-300 p-1 mx-2 rounded cursor-pointer self-start;
  color:var(--secondary-color); 
  background: var(--secondary-bg);
}

.video-quality-input > div.icon, .video-link-input > div.icon{
  @apply flex justify-start text-2xl cursor-pointer transition duration-300 ease-in-out;
  color:var(--primary-color);
}

.video-quality-input > div.icon:hover, .video-link-input > div.icon:hover{
  color:var(--tertiary-color);
}


.main-section > .records{
  @apply w-full relative left-0 p-0 md:min-h-200 min-h-auto xl:p-10 ;
}

.main-section.open > .records{
  @apply xl:w-10/12 xl:left-60;
}

.record{
  @apply flex p-3 rounded-2xl shadow-xl my-2 xl:m-5 justify-between transition ease-in-out duration-300;
}

.record:hover{
  background-color:var(--tertiary-bg);
  color:var(--secondary-color);
}

.userContent{
  @apply my-5 flex flex-col gap-5;
}

.userBox{
  @apply p-3 rounded-lg shadow h-auto;
}

.userBox h3{
  @apply font-bold text-xl;
}

.userBox > div{
  @apply flex;
}

.userBox .btn button{
  @apply border px-2 font-semibold ;
}

.adminOverview{
  @apply flex flex-col gap-20 py-5;
}

.adminOverview > .dataVals{
  @apply flex flex-wrap justify-around gap-5;
}

.adminOverview > .dataVals span{
  @apply flex flex-col justify-center content-center text-center p-5 gap-4 rounded-lg shadow-xl w-100 cursor-pointer transition duration-300 ease-in-out;
}

.adminOverview > .dataVals span:hover{
  background: var(--tertiary-color);
  color:var(--secondary-color);
}

.adminOverview > .dataVals span h3{
  @apply text-2xl ;
}

.adminOverview > .sndDataVals{
  @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 justify-around;
}

.adminOverview > .sndDataVals div{
  @apply  rounded border-l-gray-500 border-solid border-l-2;
}

.adminOverview > .sndDataVals div h3{
  @apply text-xl p-2 text-center font-bold;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.adminOverview > .sndDataVals div p{
  @apply italic p-3 pl-10 text-justify shadow;
}

.adminOverview > .thdDataVals{
  @apply flex flex-col gap-3;
}

.adminOverview > .thdDataVals h2{
  @apply text-2xl italic font-bold;
}

.adminOverview > .thdDataVals div{
  @apply flex gap-10;
}

.adminOverview > .thdDataVals a{
  @apply border p-2 rounded-lg text-lg italic font-bold transition ease-in-out duration-300;
  
}

.adminOverview > .thdDataVals a:hover{
  background: var(--tertiary-bg);
  color:var(--secondary-color); 
}


.adminOverview > .fthDataVals{
  @apply flex flex-col gap-3;
}

.adminOverview > .fthDataVals h2{
  @apply text-2xl italic font-bold;
}

.adminOverview > .fthDataVals div{
  @apply flex flex-col md:flex-row gap-10;
}

.adminOverview >.fthDataVals div span{
  @apply text-xl;
}

@keyframes move-vid-disp{
  0% {
    opacity: 0;
    transform:translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes move-popup-disp{
  0%{
    opacity: 0;
    transform: translateY(-30%);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}