@import "tailwindcss";
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

:root{
  --text-color: black;
  --bg-color: white;
  --hover-color: gray;
  --hover-bg-color:gray;
}

.text-color{color:var(--text-color)}

.bg-color{background:var(--bg-color)}

.hover-color{color:var(--hover-color)}

.hover-bg-color{background: var(--hover-bg-color)}

.header-nav{
  @apply md:top-12 top-0 left-0 w-screen md:w-50 h-auto md:h-screen bg-white p-5 hidden absolute  z-20 transition ease-in-out duration-700 translate-x-80 pt-16 xl:pt-5 md:shadow-xl ; 
}

.header-nav.open{
  @apply absolute block translate-x-0;
}

.nav-links{
  @apply flex flex-col xl:gap-5 gap-2;
}

.nav-links > li > a{
  @apply  text-center px-5 py-2  transition ease-in-out duration-300  rounded font-bold block hover:bg-gray-500 hover:text-white ;
}

main{
  @apply w-full xl:mt-12 h-auto mt-20;
}

.main-section > .movie-cat-section{
  @apply w-full relative left-0 h-auto  p-5;
}

.main-section.open > .movie-cat-section{
  @apply xl:w-10/12 xl:left-60;
}


.movie-cat-section > h1{
  @apply text-3xl font-bold ;
}

.movie-cat{
  @apply flex flex-wrap xl:flex-nowrap w-full  xl:gap-5 gap-2  py-5 ;
}

.movie-cat > div{
  @apply flex flex-col  text-center xl:w-40 w-30 h-auto cursor-pointer;
}

.LinkHolder{
  @apply w-full h-full flex flex-col;
}

.LinkHolder > span {
  @apply overflow-hidden rounded h-50 w-full;
}

.LinkHolder > span > img{
  @apply w-full h-full rounded self-center overflow-hidden object-cover transition ease-in-out duration-300 hover:scale-105 hover:rounded;
}

.LinkHolder > p{
  @apply text-sm font-bold ;
}

.movie{
  @apply w-full h-auto xl:p-10 flex justify-center;
}

.movie-content{
  @apply w-full m-2 xl:w-auto h-auto rounded xl:shadow-2xl flex gap-2 xl:gap-5 xl:p-10  flex-col lg:flex-row justify-between content-center;  
}

.movie-trailer{
  @apply lg:shadow-md w-full lg:w-180 h-auto lg:p-5;
}

.movie-trailer > iframe{
  @apply w-full xl:h-10/12 sm:h-60 h-60;
}

.movie-info{
  @apply xl:shadow-md xl:p-5 xl:gap-5 flex flex-col h-auto;
}

.movie-info-img{
  @apply w-40 h-60 rounded overflow-hidden;
}


.movie-info-img img{
  @apply w-full h-full rounded transition ease-in-out duration-300 hover:scale-105;
}

.movie-info-txt{
  @apply flex flex-col  xl:h-auto  xl:p-5;
}
